<a href="https://colab.research.google.com/github/mikel-k-khui/GDG-PyYYC-Python-Bootcamp/blob/main/GDG_Bootcamp_D01_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Everything is an object and has a type:
* Boolean: True, False
* Operators: and, or
* None: very specific, does not return anything
* Numerics: most basic types can work with each other
> * / - float division
> * // - integer division
* String: indexed

In [ ]:
"""
Comment blocks
"""
# type error
'12' + 1

SyntaxError: ignored

In [ ]:
#convert type
int_12 = int('12')
int_12 +1

13

In [ ]:
print('13 // 2 = ', 13 // 2, ' vs. 13 / 2 = ', 13 / 2) # 13 / 2 = 6.5

13 // 2 =  6  vs. 13 / 2 =  6.5

In [ ]:
import math
print('pi is', math.pi)

pi is 3.141592653589793

In [ ]:
a_string ='abcdefghijkl'
print(a_string[0:10:3]) # slicing [1:5] give 'bcde', then [#:#:step] step is how many to return
print(a_string.find('ijk')) # returns the index position of the 1st occurence
print(a_string.replace('def', 'fed'))
# print(a_string.index('fed'))
print(a_string[-4:-1])

adgj
8
abcfedghijkl
ijk

In [ ]:
my_var = input('Enter a number')
print('Square of ', my_var, ' is ', pow(int(my_var), 2))

Enter a number3
Square of  3  is  9

In [ ]:
my_var = input('Enter a number:')
if int(my_var) == 0:
  print('You entered zero')
elif int(my_var) % 2 == 0:
  print('Your number was an even number')
else:
  print('Your number was an odd number')

Enter a number:3
Your number was an odd number

In [7]:
# convert fahrenheit to celsius
fahrenheit = float(input('Enter your current temperature in fahrenheit: '))
celsius = round((fahrenheit -32) / 1.8, 2)
print(f'The current temperature in {celsius}°C.') #interplation

Enter your current temperature in fahrenheit: 0
The current temperature in -17.78°C.

In [10]:
# dictionary is complicated is a basic data type, but it is also an object
# it has a class

a_dictionary = {
    'one': 1,
    'two': 2,
    'three': 3
}
for value in a_dictionary.values():
  print(f'value: {value}')

for key, value in a_dictionary.items():
  print(f'key: {key}, value: {value}')

value: 1
value: 2
value: 3
key: one, value: 1
key: two, value: 2
key: three, value: 3

In [16]:
# functions returns is a tuple

def example(input_a, input_b=1, input_c=1):
  return (input_a + input_b) * input_c

print(f'single variable with default: example(0) = {example(0)}')
print(f'single variable with default: example(2, input_c=5) = {example(2,input_c=5)}')

single variable with default: example(0) = 1
single variable with default: example(2, input_c=5) = 15

In [19]:
# lambda function: only has 1 expression
a_nameless_function = lambda x, y: x + y

def lamb_da(x, y):
  return x + y

print(f'lambda: {a_nameless_function(1,1)}')

lambda: 2